<header class="navbar">
  <div class="container navbar-container">
    <a href="/" class="logo">Rosette Closet</a>

    <nav class="nav-menu">
      <a href="/views/user/collections.html">Bộ Sưu Tập</a>
      <a href="#">Sản Phẩm Mới</a>
      <a href="#">Thiết Kế</a>
      <a href="#">Dịp Đặc Biệt</a>
      <a href="#">Thành Viên</a>
    </nav>

    <div class="navbar-actions">
      <button class="icon-btn">
        <span class="material-symbols-outlined">favorite</span>
      </button>

      <button class="icon-btn">
        <span class="material-symbols-outlined">shopping_bag</span>
      </button>

      <a href="/views/login.html" class="btn btn-primary btn-small">
          Đăng nhập
      </a>
    </div>
  </div>
</header>
