<header class="navbar">
  <div class="container navbar-container">
    <a href="/source/HTML/homepage.html" class="logo">Rosette Closet</a>

    <nav class="nav-menu">
      <a href="collections.html">Bộ Sưu Tập</a>
      <a href="new-arrivals.html">Sản Phẩm Mới</a>
      <a href="designers.html">Thiết Kế</a>
      <a href="occasions.html">Dịp Đặc Biệt</a>
      <a href="membership.html">Membership</a>
    </nav>

    <div class="navbar-actions">
      <button class="icon-btn">
        <span class="material-symbols-outlined">favorite</span>
      </button>

      <button class="icon-btn">
        <span class="material-symbols-outlined">shopping_bag</span>
      </button>

      <a href="/source/HTML/login.html" class="btn btn-primary btn-small">
          Sign In
      </a>
    </div>
  </div>
</header>
