<aside id="main-sidebar">
    <div class="logo-container">
        <div class="logo-text-group">
            <h1 class="logo-text">RosetteCloset</h1>
            <p class="logo-sub">Luxury Admin</p>
            <span class="logo-mark">RC</span>
        </div>
        <button id="sidebar-toggle" aria-label="Toggle Sidebar">
            <span class="material-symbols-outlined" data-icon="menu">menu</span>
        </button>
    </div>
    
    <nav class="sidebar-nav-container">
        <ul class="sidebar-nav-list">
            <li>
                <a class="nav-item active" href="/views/admin/dashboard.html">
                    <span class="material-symbols-outlined" data-icon="dashboard">dashboard</span>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="nav-item" href="/views/admin/products.html">
                    <span class="material-symbols-outlined" data-icon="inventory_2">inventory_2</span>
                    <span class="nav-text">Quản lý sản phẩm</span>
                </a>
            </li>
            <li>
                <a class="nav-item" href="#">
                    <span class="material-symbols-outlined" data-icon="shopping_bag">shopping_bag</span>
                    <span class="nav-text">Quản lý đơn hàng</span>
                </a>
            </li>
            <li>
                <a class="nav-item" href="#">
                    <span class="material-symbols-outlined" data-icon="group">group</span>
                    <span class="nav-text">Quản lý khách hàng</span>
                </a>
            </li>
            <li>
                <a class="nav-item" href="#">
                    <span class="material-symbols-outlined" data-icon="eco">eco</span>
                    <span class="nav-text">Quản lý báo cáo</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <div class="footer-btn-container">
        <button class="btn-generate-report">
            <span class="material-symbols-outlined">add_chart</span>
            <span class="btn-text">Generate Report</span>
        </button>
    </div>
</aside>
